<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head'); %>
    </head>

    <body>
        <%- include('partials/header'); %>

        <main>
            <div class="jumbotron">
                <h1>Contacts</h1>
                <ul><% team.forEach(function(team) 
                        { %>
                            <li>
                                <strong><%= team.name %></strong> representing <%= team.organization %>, born <%= team.birth_year %>
                            </li>
                        <% }); %>
                    </ul>
                <p><%= tagline %></p>
            </div>
        </main>

        <footer>
            <%- include('partials/footer'); %>
        </footer>
    </body>
</html>

