<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head'); %>
    </head>

    <body>
        <%- include('partials/header'); %>

        <main>
            <div class="container-fluid">
                <div class ="row">
                    <div class ="col-sm-10 col-md-10 col-lg-10 col-xl-10 py-1">
                        <div class="jumbotron">
                            <h1>Contacts</h1>
                                <ul><% team.forEach(function(team) 
                                    { %>
                                        <li>
                                            <strong><%= team.name %></strong> representing <%= team.organization %>, born <%= team.birth_year %>
                                        </li>
                                    <% }); %>
                                </ul>
                                <p><%= tagline %></p>
                        </div>
                    <img src="logo.gif" >
                    </div>
                </div>
            </div>
        </main>

        <footer>
            <%- include('partials/footer'); %>
        </footer>
    </body>
</html>

