<!doctype html>
<!--
* Tabler - Premium and Open Source dashboard template with responsive and high quality UI.
* @version 1.0.0-beta10
* @link https://tabler.io
* Copyright 2018-2022 The Tabler Authors
* Copyright 2018-2022 codecalm.net Paweł Kuna
* Licensed under MIT (https://github.com/tabler/tabler/blob/master/LICENSE)
-->
<html lang="en">
  <%- include('partials/head'); %>
  <body >
    <div class="page">
      <%- include('partials/header'); %>
      <div class="page-wrapper">
        <div class="container-xl">
          <!-- Page title -->
          
        </div>
        <div class="page-body">
          <div class="container-xl">
            <div class="row row-deck row-cards" >
              <div class="card">
                <div class="card-body">
                  <h3 class="card-title">Sistema de Prevencion de desastres Naturales Costa Rica</h3>
                  <div id="map"></div>
                </div>
                <div class="card-title">
                  <select class="form-select form-select-sm" name="select-location" id="select-location" aria-label=".form-select-lg example">
                    <option value="-1">Seleccione su Localidad:</option>
                  </select>
                </div>
              </div>
            </div>
            

            <div class="card-body">
              <div class="row g-2 align-items-center mb-n3">
                <div class="col-12 col-xl-2 mb-3 font-weight-semibold">Normal</div>
                <div class="col-6 col-sm-4 col-md-2 col-xl mb-3">
                  <a id= alarmI class="btn btn-primary w-100">
                    Alarma I
                  </a>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl mb-3">
                  <a id= alarmII class="btn btn-secondary w-100">
                    Alarma II
                  </a>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl mb-3">
                  <a id=pushAlarm class="btn btn-success w-100">
                    Success
                  </a>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl mb-3">
                  <a href="#" class="btn btn-warning w-100">
                    Warning
                  </a>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl mb-3">
                  <a href="#" class="btn btn-danger w-100">
                    Danger
                  </a>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl mb-3">
                  <a href="#" class="btn btn-info w-100">
                    Info
                  </a>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl mb-3">
                  <a href="#" class="btn btn-light w-100">
                    Light
                  </a>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl mb-3">
                  <a href="#" class="btn btn-dark w-100">
                    Dark
                  </a>
                </div>
              </div>
            </div>
            
            <div class="card-body">
              <div class="row g-2 align-items-center mb-n3">
            <div class="col-12">
              <div class="row row-cards">
                
                <div class="col-sm-6 col-lg-3">
                  <div class="card">
                    <a href="https://www.ucr.ac.cr/noticias/2018/03/08/costa-rica-tendra-nuevo-codigo-hidrologico-para-disminuir-impacto-de-inundaciones-urbanas.html">
                    <img src="https://www.ucr.ac.cr/medios/fotos/2018/rs7114_dsc_0085-1_sindestacar5a9f0478b69d3.jpg" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                      <p class="card-text">Costa Rica tendrá nuevo código hidrológico para disminuir impacto de inundaciones urbanas</p>
                    </div>
                  </div>
                </div>

                <div class="col-sm-6 col-lg-3">
                  <div class="card">
                    <a href="https://www.lateja.cr/sucesos/aguaceros-e-inundaciones-golpean-zona-norte-y-la/MHHNCIA3XJGHVFQV363U44BMVU/story/">
                    <img src="https://www.lateja.cr/resizer/VqL81tN2vNNCjcE13mjp7joV2M4=/1440x0/filters:format(jpg):quality(70)/cloudfront-us-east-1.images.arcpublishing.com/gruponacion/3PIVOHVJ3VAKHM3UZZ2MKF7ZTQ.jpeg" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                      <p class="card-text">Aguaceros e inundaciones golpean zona norte y la elevan a alerta roja</p>
                    </div>
                  </div>
                </div>
                
                <div class="col-sm-6 col-lg-3">
                  <div class="card">
                    <a href="https://www.nacion.com/sucesos/desastres/ruta-27-cerrada-por-derrumbes-en-kilometro-45/ACVBEMEOSFFQVIZAJXTIYMCRMA/story/">
                    <img src="https://www.nacion.com/resizer/Fo5UArJLz4STiEN5kbAcKBH27MQ=/arc-anglerfish-arc2-prod-gruponacion/public/I3FCH5DIZRF57LRKDZXA7LXNUY.jpg" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                      <p class="card-text">Ruta 27 cerrada por derrumbes en kilómetro 45</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                  <div class="card">
                    <a href="https://vozdeguanacaste.com/erupcion-rincon-de-la-vieja-volcan-crater/">
                    <img src="https://cdn.imghaste.com/vozdeguanacaste.com/wp-content/uploads/2021/07/2021-Junio-Erupcion-Volca-Rincon-de-la-Vieja-Robert-Araya-Oscar-Alvarado-1-1152x1536.jpg" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                      <p class="card-text">¿Por qué es tan peligroso subir al cráter del volcán Rincón de la Vieja?</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
        </div>
      </div>
      <%- include('partials/footer'); %>
    </div>
    <!-- Libs JS -->
    <!-- Tabler Core -->
    <script src="./dist/js/tabler.min.js" defer></script>
    <script src="./dist/js/demo.min.js" defer></script>
 
    <script src="socket.io/socket.io.js"> </script>
<script>
// Socket IO para comunicacion con el servidor en tiempo real
  const socket = io();
////////////////////////////////////////////////////////////////

// Funcionalidad de los botones con socket
  let bottonAlarmI = document.getElementById("alarmI");
  bottonAlarmI.addEventListener('click', async () => {
      const response = await fetch('/dis', {method: 'POST'});
      const data = await response.json();
      bottonAlarmI.textContent = data.count;
      socket.emit("alarmI:update");             // Emitimos evento hacia el cliente
    });

  let bottonAlarmII = document.getElementById("alarmII");
  bottonAlarmII.addEventListener('click', async() => {
      socket.emit("alarmII:update");             // Emitimos evento hacia el cliente
    });

  let pushAlarm = document.getElementById("pushAlarm");
  pushAlarm.addEventListener('click', async() => {
      socket.emit("push:Alarm");             // Emitimos evento hacia el cliente
    });
////////////////////////////////////////////////////////////////

// Actualiza el contenido de un boton como ejemplo
  socket.on("alarmI:update", data => {
    bottonAlarmI.textContent = data;
    });
////////////////////////////////////////////////////////////////////

// Capas base mapas URLs
  var mbAttr = 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>';
  var mbUrl = 'https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw';

  var layerRiosCR = 'https://services5.arcgis.com/4u1m1BBDkNDTVWsd/arcgis/rest/services/Rios_de_Costa_Rica/FeatureServer/0/query?outFields=*&where=1%3D1&f=geojson'
////////////////////////////////////////////////////////////////////

// Cargamos capas mapas base
  var streets = L.tileLayer(mbUrl, {id: 'mapbox/streets-v11', tileSize: 512, zoomOffset: -1, attribution: mbAttr});
  var satellite = L.tileLayer(mbUrl, {id: 'mapbox/satellite-v9', tileSize: 512, zoomOffset: -1, attribution: mbAttr});
  var osm = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
  });
////////////////////////////////////////////////////////////////////

// Variables para cargar las capas en variables intermedias para control de capas de forma dinamica
  var layerSensors = L.layerGroup();
  var layerAlarms = L.layerGroup();
  var layerStationImn = L.layerGroup();
  var layerDistric = L.layerGroup();
  var layerRiver = L.layerGroup();
  
  var markers = [];         // Capa de marcas de estado de dispositivos en linea
  var onoffSensors = false;
  var count_devices = 0;
////////////////////////////////////////////////////////////////////

// Creamos el mapa camvas
var map = L.map('map', {
    center: [09.92, -84.07],
    zoom: 8,
    layers: [streets, layerSensors, layerAlarms],
    });

    // Iconos personalizados
  var stationIcon = new L.icon({
    iconUrl: 'icons/icons8-weather-64.png',
    iconSize:     [20, 20],
    iconAnchor:   [10, 10],
  });

  var sensorIcon = new L.icon({
    iconUrl: 'icons/icons8-sensor-64.png',
    iconSize:     [30, 30],
    iconAnchor:   [15, 15],
  });
  
  var vibrationIcon = new L.icon({
    iconUrl: 'icons/icons8-avalanche-50.png',
    iconSize:     [30, 30],
    iconAnchor:   [15, 15],
  });

  var alarmIcon = new L.icon({
    iconUrl: 'icons/icons8-button-48.png',
    iconSize:     [15, 15],
    iconAnchor:   [15, 15],
  });

  var circleGreen = new L.icon({
    iconUrl: 'icons/icons8-green-circle-48.png',
    iconSize:     [12, 12],
    iconAnchor:   [25, 15],
  });

  var squareRed = new L.icon({
    iconUrl: 'icons/icons8-red-square-48.png',
    iconSize:     [12, 12],
    iconAnchor:   [25, 15],
  });
////////////////////////////////////////////////////////////////////

// Obtener ID de selector para navegacion entre los diferentes puntos de interes. Abajo se cargaran las distintas opciones
  var selectIoT = document.getElementById('select-location');

// Configurar evento que nos desplaza hasta el punto seleccionado en el mapa
  document.getElementById('select-location').addEventListener('change',function(ubication){
    let coords = ubication.target.value.split(",");
    map.flyTo([coords[1],coords[0]],13);});
////////////////////////////////////////////////////////////////////
//Iteramos todos los dispositivos guardados en la base de datos
  var geoJsonDevices = <%- JSON.stringify(devices); %>    //Cargamos desde la base de datos

  for (device of geoJsonDevices){

    var opt = document.createElement('option');
    opt.value = device.geometry.coordinates;
    opt.innerHTML = device.properties.location;
    selectIoT.appendChild(opt);               // Se agrega cada locacion al selector

    // Se asigna un icono diferente de acuerdo al tipo de dispositivo cargado
    if (device.properties.parameter == "waterLevel"){
      marker = new L.marker([device.geometry.coordinates[1], device.geometry.coordinates[0]],{icon: sensorIcon}).bindPopup(`
        Localizacion: ${device.properties.location} <br>
        Tipo de dispositivo: <b>${device.properties.type_device}</b> <br>
        <a href="${device.properties.url}">Condiciones Actuales</a>
        `).addTo(layerSensors);

    }else if(device.properties.parameter == "vibration"){
      marker = new L.marker([device.geometry.coordinates[1], device.geometry.coordinates[0]],{icon: vibrationIcon}).bindPopup(`
        Localizacion: ${device.properties.location} <br>
        Tipo de dispositivo: <b>${device.properties.type_device}</b> <br>
        <a href="${device.properties.url}">Condiciones Actuales</a>
        `).addTo(layerSensors);

    }else if(device.properties.parameter == "sound"){
      marker = new L.marker([device.geometry.coordinates[1], device.geometry.coordinates[0]],{icon: alarmIcon}).bindPopup(`
        Localizacion: ${device.properties.location} <br>
        Tipo de dispositivo: <b>${device.properties.type_device}</b> <br>
        <a href="${device.properties.url}">Condiciones Actuales</a>
        `).addTo(layerAlarms);

    }
    count_devices += 1;
    ////////////////////////////////////////////////////////////////////
  } // Fin iteracion de los dispositivos

  //Iniciamos Funcion visualizacion de estado en linea de dispositivos
  visualStateSensor();

  ////////////////////////////////////////////////////////////////////
// Iteramos todas las estaciones IMN guardadas en la base de datos
  var geoJsonImn_station = <%- JSON.stringify(imn); %>    //Cargamos los puntos 

  for (station of geoJsonImn_station){    // Iteramos cada una de las estaciones automaticas IMN Localizadas
    marker = new L.marker([station.geometry.coordinates[1], station.geometry.coordinates[0]],{icon: stationIcon}).bindPopup(`
    <h6>Estacion: ${station.properties.name}</h6><br>
    <a href="${station.properties.url}">Condiciones Actuales</a>
    `).addTo(layerStationImn)
  }// Fin de la iteracion de estaciones IMN

//////////////////////////////////////////////////////////////////////
// Carga de capa GeoJson
  async function addGeoJson() {
    const distritos = await fetch("layers/distritos.geojson");
    const dataDistritos = await distritos.json();
    L.geoJson(dataDistritos).addTo(layerDistric);
  }
  addGeoJson();

  async function addRiver() {
    const rivers = await fetch(layerRiosCR);
    const dataRiver = await rivers.json();
    L.geoJson(dataRiver).addTo(layerRiver);
      }
  //addRiver();

//////////////////////////////////////////////////////////////////////

// Definicos el selector de capas en el mapa
  var baseLayers = {
    'OpenStreetMap': osm,
    'Streets': streets,
    'Satellite': satellite,
  };

  var overlays = {
    'Monitores Iot': layerSensors,
    'Alarmas Notificadoras': layerAlarms,
    'Estaciones Automaticas IMN': layerStationImn,
    'Rios CR': layerRiver,
    'Distritos': layerDistric,
  };
//////////////////////////////////////////////////////////////////////
// Cargamos el selector de capas al mapa
  var layerControl = L.control.layers(baseLayers, overlays).addTo(map);

// Funcion de visualizacion de estado en linea de los dispositivos
  function visualStateSensor(){
    if (onoffSensors == true){
      for (sensor of markers){
        map.removeLayer(sensor)
        }
      onoffSensors = false;
      }
    else{
      for (device of geoJsonDevices){
        var startDate = new Date(device.properties.update);
        var endDate   = new Date();
        var seconds = Math.round(((endDate.getTime() - startDate.getTime()) / 1000) / 60);
      
        if (seconds > 5){
          mark = L.marker([device.geometry.coordinates[1], device.geometry.coordinates[0]],{icon: squareRed}).addTo(map);
          markers.push(mark);
        }else{
          mark = L.marker([device.geometry.coordinates[1], device.geometry.coordinates[0]],{icon: circleGreen}).addTo(map);
          markers.push(mark);
        }
      }
      onoffSensors = true;
    }
    setTimeout(() => {
      visualStateSensor();
      }, 5000);
  }

// Evento a configurar cuando el servidor lance un emit
  socket.on("map:update", () => {
    var polygon = L.polygon([
      [10.06, -84.01],
      [10.18, -84.06],
      [10.10, -84.147]
    ]).addTo(map).bindPopup('Zona de Riesgo');
  });

// Funcionalidad cuando hacemos click mostramos las coordenadas en un popup
  function onMapClick(e) {
    var popup = L.popup();
    popup.setLatLng(e.latlng).setContent('Has hecho clip en ' + e.latlng.toString()).openOn(map);
    }

//Captura del evento click en el mapa
  map.on('click', onMapClick);
// Fin del jscript
</script> 

  </body>
</html>
